<h2>Members</h2>

<div id="member-wrapper">
  <% @members.each do |member| %>

  <div class="member">
    <h3><%= member.surname.upcase %>, <%= member.forename.capitalize %></h3>
    <p>Membership: <%= member.premium ? 'Premium' : 'Standard'%></p>
    <p>DOB: <%= member.dob.strftime('%d/%m/%Y') %></p>
    <p>Phone: <%= member.phone %></p>
    <p>Email: <%= member.email %></p>
    <!-- <p><a href="/members/<%= member.id %>/edit">Edit</a></p> -->
    <form method="post" action="/members/<%= member.id %>/delete">
      <input type="submit" value="Delete"/>
    </form>
    <form method="get" action="/members/<%= member.id %>/edit">
      <input type="submit" value="Edit"/>
    </form>
  </div>
<hr>
  <% end %>
</div>
