<h2>Classes</h2>

<div id="lesson-wrapper">
  <% @lessons.each do |lesson| %>

  <div class="lesson">
    <h3><a href="/lessons/<%= lesson.id %>"><%= lesson.name.capitalize %></a></h3>

    <p>Date: <%= lesson.lesson_date.strftime('%d/%m/%Y') %></p>
    <p>Start Time: <%= lesson.start_time.strftime('%H:%M') %></p>
    <p>Duration: <%= lesson.duration %> mins</p>
    <p>Capacity: <%= lesson.capacity %></p>
    <!-- <p><a href="/lessons/<%= lesson.id %>/edit">Edit</a></p> -->
    <form method="get" action="/lessons/<%= lesson.id %>/edit">
      <input type="submit" value="Edit"/>
    </form>
    <form method="post" action="/lessons/<%= lesson.id %>/delete">
      <input type="submit" value="Delete"/>
    </form>
    <p><a href="/lessons/<%= lesson.id %>">View members on class</a></p>
  </div>
<hr>
  <% end %>
</div>
