<h2>Edit Member</h2>

<form method="post" action="/members/<%= @member.id %>">

  <div>
    <label for="forename">Forename:</label>
    <input
    type="text"
    name="forename"
    id="forename"
    value="<%= @member.forename %>"
    />
  </div>

  <div>
    <label for="surname">Surname:</label>
    <input
    type="text"
    name="surname"
    id="surname"
    value="<%= @member.surname %>"
    />
  </div>

  <div>
    <label for="dob">DOB:</label>
    <!-- convert ruby date object UK date format  -->
    <input
    type="text"
    name="dob"
    id="dob"
    value="<%= @member.dob.strftime('%d/%m/%Y') %>"
    />
  </div>


  <div>
    <label for="premium">Membership:</label>
    <select name="premium" id="premium">
      <option value="false" <%= @member.premium ? '' : 'selected' %> >Standard</option>
      <option value="true" <%= @member.premium ? 'selected' : '' %> >Premium</option>
    </select>
  </div>

  <div>
    <label for="phone">Phone:</label>
    <input
    type="text"
    name="phone"
    id="phone"
    value="<%= @member.phone %>"
    />
  </div>

  <div>
    <label for="email">Email:</label>
    <input
    type="text"
    name="email"
    id="email"
    value="<%= @member.email %>"
    />
  </div>

  <input type='submit' value="Save Changes">
  
</form>
