<h2>Classes</h2>

<div id="lesson-wrapper">
  <% @lessons.each do |lesson| %>

  <div class="lesson">
    <h3><%= lesson.name %></h3>
    <p>Capacity: <%= lesson.capacity %></p>
    <p>Date: <%= lesson.lesson_date.strftime('%d/%m/%Y') %></p>
    <p>Start Time: <%= lesson.start_time.strftime('%H:%M') %></p>
    <p><a href="/lessons/<%= lesson.id %>/edit">edit</a></p>
    <form method="post" action="/lessons/<%= lesson.id %>/delete">
      <input type="submit" value="Delete"/>
    </form>
  </div>

  <% end %>
</div>
